<div id="rsui__footerlinks">
    <div class="container">
        <div class="rsui__footerlinks__container">
            <div class="rsui__footerlinks__card">
                <a href="#" class="rsfooter__logo">
                    <img src="./assets/images/logo.png" class="img-fluid my-3" width="250px" alt="" srcset="">
                </a>
                <h4 class="rs__heading">About ReadyAssist</h4>
                <p>
                    One of the leading 24/7 roadside assistance service br provider for bikes & cars across India.
                </p>
                <p class="rs__sociallinks">
                    <span>
                        <a href="#"> <img src="./assets/images/linkedin.svg" width="30px" alt="" srcset=""></a>
                    </span>
                    <span>
                        <a href="#"> <img src="./assets/images/whatsapp.svg" width="30px" alt="" srcset=""></a>
                    </span>
                    <span>
                        <a href="#"> <img src="./assets/images/facebook.svg" width="30px" alt="" srcset=""></a>
                    </span>
                    <span>
                        <a href="#"> <img src="./assets/images/Instagram.svg" width="30px" alt="" srcset=""></a>
                    </span>
                    <span>
                        <a href="#"> <img src="./assets/images/youtube.svg" width="30px" alt="" srcset=""></a>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px;">
                        Get app on:
                    </span>
                    <span>
                        <a href="#">
                            <img src="./assets/images/gplay.png" class="img-fluid" width="200px" alt="" srcset="">
                        </a>
                    </span>
                </p>
            </div>
            <div class="rsui__footerlinks__card">
                <h3 class="text-warning">Quick Links</h3>
                <ul class="quicklinks__list">
                    <li>
                        <a href="#">My Subscription</a>
                    </li>
                    <li>
                        <a href="#">Activate Subscription</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="rsui__footerlinks__card">
                <h3 class="text-warning">Our Services</h3>
                <ul class="quicklinks__list">
                    <li>
                        <a href="#">Puncture Repair</a>
                    </li>
                    <li>
                        <a href="#">Battery Jumpstart</a>
                    </li>
                    <li>
                        <a href="#">On-spot Minor Repair</a>
                    </li>
                    <li>
                        <a href="#">Towing Service</a>
                    </li>
                    <li>
                        <a href="#">Emergency Fuel</a>
                    </li>
                    <li>
                        <a href="#">Key-lock Assistance</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="rsui__footerlinks__card">
                <h3 class="text-warning">Contact Address</h3>
                <p class="text-warning" style="font-size: 20px;
                margin-top: 41px;">ReadyAssist - 24hrs Vehicle Care</p>
                <address>
                    #16, 17th Cross, 9th Main Rd,<br>
                    Sector 7, HSR Layout<br>
                    Bangalore-560102<br>
                    Karnataka, India
                </address>
                <p>
                    <a href="mailto:hello@readyassist.in">hello@readyassist.in</a>
                    <span class="email__seprator"></span>
                    <a href="tel:+1 080-4680 9090">080-4680 9090</a>
                </p>
            </div>
        </div>
    </div>
</div>