
#rsui__footerlinks{
    .rsui__footerlinks__container{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        .rsui__footerlinks__card{
            color: #ffffff;
            flex-basis: 34%;
    margin: 0px 10px;
    .rs__sociallinks{
        img {
            margin: 0 3px;
        }
    }
    span.email__seprator {
        margin: 0 4px;
        width: 1px;
        height: 8px;
        background: #fff;
        position: relative;
        display: inline-flex;
    }
    a{
        color: #fff;
    }
    p{
        font-size: 0.813rem;
    }
    address{
        font-size: 0.813rem;
    }
            span{
                text-transform: uppercase;
            }
            h3.text-warning {
                font-size: 1.2rem;
                margin-top: 1.7rem;
                &::after{
                    content: '';
                    width: 40px;
                    height: 2px;
                    background: #9b988f;
                    display: block;
                    position: absolute;
                    transform: translate(-3%, 5px);
                }
            }   
            ul.quicklinks__list{
                padding-left: 0;
                li{
                    margin: 0.8rem 0;
                    a{
                       color: #fff;
                    }
                }
            }
        }
    }
}


@media (max-width:768px) {
    #rsui__footerlinks{
        .rsui__footerlinks__container{
            flex-wrap: wrap;
            margin: 0;
        }
    }
    
}















