<div id="rsui__googlereviews">
    <div class="rsui__googlereviews__container container-fluid">
        <h2 class="text-center rsui__googlereviews__maintitle">
            Google reviews
        </h2>
        <div class="container">
            <div class="rsui__googlereviews__googlerating__count">
                <img src="./assets/images/google.png" width="120px" alt="" srcset="">
                <span style="font-size:18px; margin-left: 12px;">Rating</span>
                <div class="total__count">
                    <p>
                        <span class="rating">4.6</span>
                        <span class="star__count">
                            <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="total__count">
                            2,482 reviews
                        </span>
                    </p>
                </div>
                <div class="write__review__card">
                    <button class="btn btn-primary">Write a Review</button>
                </div>
            </div>
        </div>
        <div class="rsui__googlereviews__container__card container">
            <div class="rsui__googlereviews__slider">
                <div class="star__rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi id recusandae blanditiis dignissimos
                    quisquam non commodi animi, natus saepe autem error magnam corrupti, beatae enim.
                </p>
                <div class="rsui__googlereviewer">
                    <div class="rsui__googlereviews__seprator"></div>
                    <div class="reviewer_card">
                        <img src="./assets/images/avatarc1.png" width="52px" alt="" srcset="">
                    </div>
                    <p class="rsui__googlereviewer__name mt-2">
                        <small> Alexander </small>
                    </p>

                </div>
            </div>
            <div class="rsui__googlereviews__slider">
                <div class="star__rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi id recusandae blanditiis dignissimos
                    quisquam non commodi animi, natus saepe autem error magnam corrupti, beatae enim.
                </p>
                <div class="rsui__googlereviewer">
                    <div class="rsui__googlereviews__seprator"></div>
                    <div class="reviewer_card">
                        <img src="./assets/images/avatarc1.png" width="52px" alt="" srcset="">
                    </div>
                    <p class="rsui__googlereviewer__name mt-2">
                        <small> Alexander </small>
                    </p>

                </div>
            </div>
            <div class="rsui__googlereviews__slider">
                <div class="star__rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi id recusandae blanditiis dignissimos
                    quisquam non commodi animi, natus saepe autem error magnam corrupti, beatae enim.
                </p>
                <div class="rsui__googlereviewer">
                    <div class="rsui__googlereviews__seprator"></div>
                    <div class="reviewer_card">
                        <img src="./assets/images/avatarc1.png" width="52px" alt="" srcset="">
                    </div>
                    <p class="rsui__googlereviewer__name mt-2">
                        <small> Alexander </small>
                    </p>

                </div>
            </div>
        </div>
        <div class="write__review__btn text-center my-3">
            <button class="btn btn-outline-secondary">Load More</button>
        </div>
    </div>
</div>