            #rsui__footercpw{
                .rsui__container-fluid{
                    padding: 0;
                    .rsui__footercpw__card{
                        background-color: #474643;
                        padding: 10px 0;
                        p{
                            color: #fff;
                            text-align: center;
                            font-size: 12px;
                            margin-bottom: 0;
                        }
                    }
                }
               
            }