  img{
      width: 100%;
  }

// FontSizes
$Variable_readyassist_h1_fs: 1rem;
$Variable_readyassist_navlink_fs_18px: 1.125rem;
$Variable_readyassist_navlink_fs_14px: 0.875rem;
$Variable_readyassist_navlink_fs_28px: 1.75rem;

//layoutpadding
$Variable_readyassist_layoutpadding: 30px 0;

//staricon color
$Variable_readyassist_staricon_color:#ffc501;
//FontColors
$Variable_readyassist_navlink__fc_: #212529;
$Variable_readyassist_navlink__fc_white: #fff;
$Variable_readyassist_fc_black: #000;
$Variable_readyassist_fc_litegrey: #7e775e;



//backgroundColors
$Variable_readyassist_bgc_yellow: #ffc500;
$Variable_readyassist_layout__bgc: aliceblue;
$Variable_readyassist_layout__bgwhite: #fff;
$Variable_readyassist_layout__ftr__copyright__bgc: #474643;





// layout
$Variable_readyassist_boxlayoutpadding: 30px 0px;

//backgroundImages
$Variable__readyassist__bgImg_yellow : url('../../assets/images/Bg.jpg');
$Variable__readyassist__hm__banner : url('../../assets/images/truck_bgc4.png');
$Variable__readyassist__transparentbg : url('../../assets/images/bg-green.png');