  img{
      width: 100%;
  }

// FontSizes
$Variable_readyassist_h1_fs: 1rem;
$Variable_readyassist_navlink_fs_18px: 1.125rem;
$Variable_readyassist_navlink_fs_14px: 0.875rem;

//FontFamily
$Variable_readyassist_ff_Comfortaa: 'Comfortaa';

//FontColors
$Variable_readyassist_fc_black: #000;

//backgroundColors
$Variable_readyassist_bgc_yellow: #ffc500;






//FontColors
$Variable_readyassist_fc_black: #000;
$Variable_readyassist_fc_litegrey: #7e775e;

// layout
$Variable_readyassist_boxlayoutpadding: 30px 0px