<div id="rsui__homewrapper">
    <div class="rsui__container container">
        <div class="row">

            <div class="col-lg-6 rsui_text">
                <h1>We have
                    <span>everything</span>
                </h1>
                <div class="pulse-button">
                    <h2 class="book_ser_txt">Book <br>Service</h2>
                </div>
                <!-- <a href="#" class="btn rsui__hmbtn text-uppercase">Book Service</a> -->
            </div>
            <div class="col-lg-6">
                <div class="truck">
                    <img src="./assets/images/RAtruck-min.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>


</div>
    
    