<div id="rsui__homewrapper">
    <div class="rsui__container container">
        <div class="row">

            <div class="col-lg-6 rsui_text">
                <h1>We have
                    <span>everything</span>
                </h1>
                <a href="#" class="btn rsui__hmbtn">Discover Now</a>
            </div>
            <div class="col-lg-6">
                <div class="truck">
                    <img src="./assets/images/RAtruck-min.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>


</div>

