<div id="rsui__popularnews">
    <div class="rsui__popularnews__container">
        <h1>Recent Popular News <br/>About
            ReadyAssist</h1>
        <div class="container rsui__popularnews__card">

            <owl-carousel-o [options]="popularNews">

                <ng-template carouselSlide>
                    <div class="rsui__popularnews_review">
                        <div class="image__container">
                            <img src="./assets/images/news1.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__popularnews_review">
                        <div class="image__container">
                            <img src="./assets/images/news2.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__popularnews_review">
                        <div class="image__container">
                            <img src="./assets/images/news3.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__popularnews_review">
                        <div class="image__container">
                            <img src="./assets/images/news4.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__popularnews_review">
                        <div class="image__container">
                            <img src="./assets/images/news1.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__popularnews_review">
                        <div class="image__container">
                            <img src="./assets/images/news2.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>
    </div>