#rsui__popularnews {
    .rsui__popularnews__container {
        background-color: aliceblue;
        padding: 15px 0;
        h1{
            text-align: center;
            margin: 1.5rem;
        }
        .rsui__popularnews__card{
            max-width: 90%;
        }

        .rsui__popularnews_review {
            margin: 12px;
            box-shadow: 0 2px 5px 0 rgb(17 121 239 / 15%);
            border-radius: 30px 30px 15px 15px;
            transition: all 0.5s ease;
            background: #fff;
        }

        .image__container {
            img {
                border-radius: 25px 25px 0px 0px;
            }
        }

        .text__container {
            margin-top: 0 !important;
            margin: -24px 10px 0 10px;
            z-index: 1;
            background: white;
            position: relative;
            border-radius: 6px;
            padding: 12px;
        }
    }
}

// mobile responsive
@media (max-width:768px) {
    #rsui__popularnews{
        .rsui__popularnews__container{
            .rsui__popularnews_review{
                margin-top:2rem;
            }
    } 
    }
}

