<div id="ntui__bookservices">
    <div class="ntui__bookservice__container">
        <div class="ntui__bookservice__card">
            <div class="ntui__bookservice__title">
                <!-- <h2>Book a Service</h2> -->
                <div class="ntui__bookservice__icon">
                    <a href="#">
                    <div class="ntui__icon-box">
                        <div class="icon">
                            <img src="./assets/images/tyre.svg" alt="" srcset="">
                        </div>
                        <div class="icon-title"><h5>Flat tyre fixing </h5></div>
                    </div>
                </a>
                <a href="#">
                    <div class="ntui__icon-box">
                        <div class="icon">
                            <img src="./assets/images/battery.svg" alt="" srcset="">
                        </div>
                        <div class="icon-title"><h5>Battery jumpStart  </h5></div>
                    </div>
                </a>
                <a href="#">
                    <div class="ntui__icon-box">
                        <div class="icon">
                            <img src="./assets/images/fuel.svg" alt="" srcset="">
                        </div>
                        <div class="icon-title"><h5>Emergency fuel </h5></div>
                    </div>
                </a>
                <a href="#">
                    <div class="ntui__icon-box">
                        <div class="icon">
                            <img src="./assets/images/key.svg" alt="" srcset="">
                        </div>
                        <div class="icon-title"><h5>Key lock assistance  </h5></div>
                    </div>
                </a>
                <a href="#">
                    <div class="ntui__icon-box">
                        <div class="icon">
                            <img src="./assets/images/towing.svg" alt="" srcset="">
                        </div>
                        <div class="icon-title"><h5>Towing service  </h5></div>
                    </div>
                </a>
                <a href="#">
                    <div class="ntui__icon-box">
                        <div class="icon">
                            <img src="./assets/images/repair.svg" alt="" srcset="">
                        </div>
                        <div class="icon-title"><h5>Starting problem  </h5></div>
                    </div>
                </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
