@import '/src/customvariables/customvariables.scss';

@mixin readyresist_maintitle {
    
}

@mixin readyresist_navbarlinks {
    font-size: $Variable_readyassist_navlink_fs_18px;
    color: $Variable_readyassist_fc_litegrey;
}
@mixin flex_ai_jc($ai, $jc) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}