@import '/src/customvariables/customvariables.scss';
@import '/src/mixins/mixins.scss';

#rsui__subscriptionplan {
    .rsui__subscriptionplan__container {
        background-color: $Variable_readyassist_layout__bgc;
        padding: 15px 0;
        h1{
            text-align: center;
            margin: 1.5rem;
        }
        .rsui__subscriptionplan__card{
            max-width: 80%;
        }

        .rsui__subscriptionplan_review {
            margin: 12px;
            box-shadow: 0 2px 5px 0 rgb(17 121 239 / 15%);
            border-radius: 30px 30px 15px 15px;
            transition: all 0.5s ease;
            background: $Variable_readyassist_layout__bgwhite;
            border-bottom: 3px solid #fabf01;
        }

        .image__container {
            img {
                border-radius: 25px 25px 0px 0px;
            }
        }

        .text__container {
            margin-top: -8px;
            margin: -24px 10px 0 10px;
            z-index: 1;
            background: $Variable_readyassist_navlink__fc_white;
            position: relative;
            border-radius: 6px;
            padding: 12px;
        }
    }
}

// mobile responsive
@media (max-width:768px) {
    #rsui__subscriptionplan{
        .rsui__subscriptionplan__container{
            .rsui__subscriptionplan_review{
                margin-top:2rem;
            }
    } 
    }
}

