<div id="rsui__subscriptionplan">
    <div class="rsui__subscriptionplan__container">
        <h1>Subscription Plan</h1>
        <div class="container rsui__subscriptionplan__card">

            <owl-carousel-o [options]="customOptions">

                <ng-template carouselSlide>
                    <div class="rsui__subscriptionplan_review">
                        <div class="image__container">
                            <img src="./assets/images/freedom.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__subscriptionplan_review">
                        <div class="image__container">
                            <img src="./assets/images/2-wheeler-pro.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__subscriptionplan_review">
                        <div class="image__container">
                            <img src="./assets/images/2.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rsui__subscriptionplan_review">
                        <div class="image__container">
                            <img src="./assets/images/freedom.jpg" class="img-fluid" alt="" srcset="">
                        </div>
                        <div class="text__container">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque harum delectus
                                necessitatibus molestias. Veritatis, consequatur laborum magni voluptas recusandae
                                doloribus omnis, ipsa eum officia distinctio numquam ipsum, sint deserunt. Mollitia
                                nobis maxime beatae harum molestiae.</p>
                        </div>
                    </div>
                </ng-template>
                



            </owl-carousel-o>
        </div>
    </div>