<div id="rsui__footer__rewards">
    <div class="container">
        <div class="rsui__footer__rewards__container">
            <div class="rewards__card">
                <div class="rewards__list__icon">
                    <img src="./assets/images/m.svg" width="150px" class="img-fluid" alt="" srcset="">
                </div>
                <div class="rewards__list__count__card">
                    <p class="rewards__list__count">
                        5000+
                    </p>
                    <p class="rewards__list__text">
                        Service Partner
                    </p>
                </div>
            </div>
            <div class="rewards__card">
                <div class="rewards__list__icon">
                    <img src="./assets/images/india.svg" width="150px" class="img-fluid" alt="" srcset="">
                </div>
                <div class="rewards__list__count__card">
                    <p class="rewards__list__count">
                        16650+
                    </p>
                    <p class="rewards__list__text">
                        Pin Codes
                    </p>
                </div>
            </div>
            <div class="rewards__card">
                <div class="rewards__list__icon">
                    <img src="./assets/images/car.svg" width="150px" class="img-fluid" alt="" srcset="">
                </div>
                <div class="rewards__list__count__card">
                    <p class="rewards__list__count">

                        1000000+
                    </p>
                    <p class="rewards__list__text">
                        Vehicles Mobilised
                    </p>
                </div>
            </div>
            <div class="rewards__card">
                <div class="rewards__list__icon">
                    <img src="./assets/images/card.svg" width="150px" class="img-fluid" alt="" srcset="">
                </div>
                <div class="rewards__list__count__card">
                    <p class="rewards__list__count">
                        100000+
                    </p>
                    <p class="rewards__list__text">
                        Subscribed Customers
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>