/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300&display=swap');

:root {
  --main-color: #d90429;
  --text-color: #51565e;
  --bg-color: #fec602;
}

body {

  // overflow-x: hidden;
  a {
    text-decoration: none;
  }
}
h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  // color: #51565e;
}

//subscrition plan slider arrow btns
#rsui__subscriptionplan {
  .rsui__subscriptionplan__container {

    .owl-prev {
      left: 0;
      transform: translate(-50%, -50%);
      background-color: rgb(233 231 224) !important;
      color: #222 !important;
      width: 60px !important;
      height: 60px !important;
      border-radius: 50% !important;
      position: absolute;
      top: 50%;

      .fa-angle-left {
        color: #e0b00e;
        font-size: 24px !important;
        top: 29%;
        left: 41%;
        position: absolute;
      }

      &:hover {
        background-color: #dededda6 !important;
      }
    }

    .owl-next {
      right: 0 !important;
      transform: translate(40%, -50%);
      background-color: rgb(233 231 224) !important;
      color: #222 !important;
      width: 60px !important;
      height: 60px !important;
      border-radius: 50% !important;
      position: absolute;
      top: 50%;
      right: -2%;

      .fa-angle-right {
        font-size: 24px !important;
        color: #e0b00e;
        top: 29%;
        left: 41%;
        position: absolute;
      }

      &:hover {
        background-color: #dededda6 !important;
      }
    }
  }
}
//carepartner slider arrow btns
#rsui__carepartner {

  .rsui__carepartner__container {
    &:hover{
      .owl-prev{
        background-color: #e9e7e0 !important;
      }
      .owl-next{
        background-color: #e9e7e0 !important;
      }
      .fa-arrow-left{
        color: #e0b213;
      }
      .fa-arrow-right{
        color: #f0f8ff !important;
      }
     
    }
    .owl-prev {
      left: -3%;
      transform: translate(-50%, -50%);
      background-color: transparent !important;
      color: #222 !important;
      width: 60px !important;
      height: 60px !important;
      border-radius: 50% !important;
      position: absolute;
      top: 50%;

      .fa-arrow-left {
        color: #f0f8ff;
        font-size: 24px !important;
        top: 29%;
        left: 41%;
        position: absolute;
      }

    }

    .owl-next {
      right: 0 !important;
      transform: translate(40%, -50%);
      background-color: transparent !important;
      color: #222 !important;
      width: 60px !important;
      height: 60px !important;
      border-radius: 50% !important;
      position: absolute;
      top: 50%;
      right: -2%;

      .fa-arrow-right {
        font-size: 24px !important;
        color: #f0f8ff;
        top: 29%;
        left: 41%;
        position: absolute;
      }

      &:hover {
        background-color: #dededda6 !important;
      }
    }
  }
}

@media(max-width:768px) {
  #rsui__subscriptionplan {
    .rsui__subscriptionplan__container {
      .owl-prev {
        display: none;
      }
      .owl-next {
        display: none;
      }
    }
  }
  #rsui__carepartner {
    .rsui__carepartner__container {
      .owl-prev {
        display: none;
      }
      .owl-next {
        display: none;
      }
    }
  }
}