<div id="rsui__servicepartner">
    <div class="rsui__servicepartner__container container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="service__image__card">
                    <img src="./assets/images/banner.png" class="img-fluid" alt="" srcset="">
                </div>
                </div>
                <div class="col-lg-6">
                    <div class="service__image__card__description">
                        <h2 class="title">Be our service partner</h2>
                        <p>
                            Become our RSA partner & get assured business & take your business next level with us. Choose your path to partnership & get all the support you need to succeed.
                             </p>
                             <div class="earn__btn">
                                    <button class="btn btn-dark"> <a href="#"> Earn with Us</a></button>
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>