#rsui__servicepartner{
    .rsui__servicepartner__container{
        background-image: url('../../assets/images/bg-green.png');
        background-color: #000000b0;
        color: #fff;
        padding: 70px 0;
                background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        .earn__btn{
            a{
            color: #fff;
        }
        }
    }
}