<div id="rsui">
    <div class="rsui__header">
    <nav class="navbar navbar-expand-md">
    <div class="container-fluid rsui__nav__container">
        <div class="rsui__mobileui">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/logo.png" class="img-fluid" alt="" srcset="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class='bx bx-menu' id="rsui__menu-icon"></i>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Grid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Subscribe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</div>